.section7{
	background-color: #00264B;
}

.section7-title{
	text-align: center;
}

.sam-isbister{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top:75px;
	padding-bottom:131px;
	color: #ffffff;
font-family: Montserrat;
font-size: 14px;
font-weight: 700;
line-height: 47.92px;
text-transform: uppercase;
}

.sam-isbister span{
	margin-right: 10px;
	margin-left: 10px;
	/* Style for "Shape 4 co" */
width: 20px;
height: 2px;
background-color: #ffffff;
display: block;
}

.section7-title i{
	padding: 125px 0 48px 0;
	font-size: 48px;
	color: #ffffff;
}

.title_container p{
	color: #ffffff;
font-size: 20px;
font-weight: 400;
line-height: 37.94px;

}

.sam-isbister span{

}